{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% include "common_meta.html" %}
    <link href="{% static 'vendored/bootstrap.min.css' %}" rel="stylesheet">
    <script defer src="{% static 'vendored/bootstrap.bundle.min.js' %}"></script>
    <script defer src="{% static 'vendored/htmx.min.js' %}"></script>    
    <script defer>
      function togglePassword(passwordFieldId, eyeOpenId, eyeClosedId) {
        const passwordField = document.getElementById(passwordFieldId);
        const eyeOpen = document.getElementById(eyeOpenId);
        const eyeClosed = document.getElementById(eyeClosedId);
        
        if (passwordField.type === "password") {
          passwordField.type = "text";
          eyeOpen.style.display = "none";
          eyeClosed.style.display = "block";
        } else {
          passwordField.type = "password";
          eyeOpen.style.display = "block";
          eyeClosed.style.display = "none";
        }
      }
    </script>
</head>
<body>
  <div style="background-image: url('{% static '/images/farm.jpeg' %}'); background-size: cover;">

    <div class="d-flex flex-column justify-content-center align-items-center vh-100">
      <h1 style="-webkit-text-stroke: 1px white; text-shadow: 0px 0px 32px white; text-align: center; font-size: 3em;"><b>🥔 PotatoEMR</b></h1>

  <div id="login_box" class="p-5 bg-secondary-subtle rounded" style="width: 340px; height: 440px; overflow: auto;">
    <div class="d-flex flex-column align-items-center">
      {% block content %}
      {% endblock content %}
    </div>
  </div>
</div>

  </div>
</body>
