<div class="d-flex flex-column h-100 position-relative">
    <!-- Close button in top right -->
    <button type="button" class="btn-close position-absolute top-0 end-0 m-2" aria-label="Close"
    onclick="this.closest('.dropdown-menu').classList.remove('show')"></button>
    
    <div class="px-2 py-0 mt-2 me-4">
        <form method="post"
        hx-post="{% url 'SearchPatient' %}"
        hx-trigger="input delay:100ms"
        hx-target="#search-results"
        hx-push-url="false">
            {% csrf_token %}
            <div class="d-flex flex-row flex-wrap w-100 gap-1">
            {% for field in form %}
            <span>
                {{ field.label_tag }}
                {{ field }}
            </span>
            {% endfor %}
            </div>
        </form>
    </div>
    
    <div class="px-2 py-0 mt-2 overflow-y-auto flex-grow-1" id="search-results-container">
        <div id="search-results">
        </div>
    </div>
</div>
