# Byte-compiled files
__pycache__/
*.py[cod]

# Django SQLite database
db.sqlite3

# Django static files and media files
staticfiles/
media/

# Environment files
.env

# Virtual environment
venv/
*.egg-info/
.eggs/

# IDE configurations
.idea/
.vscode/

# Logs
*.log

# MacOS-specific
.DS_Store
