{% extends "common_base_patient.html" %}

{% block patientPage %}
<div id="medication-tabs" class="m-4 bg-body-secondary p-4" hx-push-url="false">
    {% block tab_list %}
    <ul class="nav nav-tabs" role="tablist" hx-target="body">
        <li class="nav-item" role="presentation">
            <button class="nav-link {% if active_tab == 'administration' %}active{% endif %}" 
                    hx-get="{% url 'Medication_administration_table' patient.id %}"
                    role="tab"
                    aria-selected="{% if active_tab == 'administration' %}true{% else %}false{% endif %}"
                    aria-controls="tab-content">
                Administered Medications
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link {% if active_tab == 'dispense' %}active{% endif %}"
                    hx-get="{% url 'Medication_dispense_table' patient.id %}"
                    role="tab"
                    aria-selected="{% if active_tab == 'dispense' %}true{% else %}false{% endif %}"
                    aria-controls="tab-content">
                Dispensed Medications
            </button>
        </li>
    </ul>
    {% endblock %}

    <div id="tab-content">
        {% block tab_content %}{% endblock %}
    </div>
</div>
{% endblock %}

<!-- https://stackoverflow.com/questions/36963802/is-there-a-way-to-pass-a-variable-to-an-extended-template-in-django 
classic "no you want [wrong answer] xy believers, meanwhile right answer at the bottom with 6 upvotes"-->