{% load common_filters %}
<tr>
    {% csrf_token %}
    {% for form in formlist %}
        {% for field in form %}
        <td>
            {% if field.value %}

            {{ field|values_objects }}

            {% else %}
                -
            {% endif %}
        </td>
        {% endfor %}
    {% endfor %}
    <td>
        <button class="btn btn-sm btn-primary m-1"
                hx-get="{% url 'Medication_administration_edit' patient_id=patient.id med_admin_id=med_admin.id %}">
            Edit
        </button>
    </td>
</tr>