{% extends "medication_tabs.html" %}

{% block tab_list %}
    {% with active_tab='dispense' %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block tab_content %}
    <button class="btn btn-primary m-2"
    hx-get="{% url 'Medication_dispense_new' patient_id=patient.id %}"
    hx-target="#medication-dispenses-table tbody"
    hx-swap="afterbegin">
    Record Dispensed Medication
    </button>

    <table class="table" id="medication-dispenses-table">
        <thead>
            <tr>
                {% for form in label_formlist %}
                    {% for field in form %}
                        <th>{{ field.label }}</th>
                    {% endfor %}
                {% endfor %}
                <th></th><!--edit or save/cancel-->
            </tr>
        </thead>
        <tbody hx-target="closest tr" hx-swap="outerHTML" style="text-overflow:ellipsis;overflow:hidden">
            {% for medDispense, formlist in medDispense_and_form %}
                {% include "medication_table_dispense_row_normal.html" with med_dispense=medDispense formlist=formlist %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}