{% extends "common_base_patient.html" %}

{% block patientPage %}
<div class="m-4 p-2 bg-body-tertiary">
    <ul class="nav nav-tabs mb-3" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" hx-get="/encounter/chartreview" role="tab" aria-selected="true" aria-controls="tab-content">Chart Review</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" hx-get="/encounter/growth" role="tab" aria-selected="false" aria-controls="tab-content">Growth</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" hx-get="/encounter/vitals" role="tab" aria-selected="false" aria-controls="tab-content">Labs</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" hx-get="/encounter/orders" role="tab" aria-selected="false" aria-controls="tab-content">Imaging</button>
        </li>
    </ul>

    <div id="tab-content">
        <p>encounters idk</p>
        <p>patient: {{ encounter.subject_Patient }}</p>
        <p>location: {{ encounter.Encounter_location.first.location }}</p>
        <p>practitioner: {{ practitioner }}</p>
    </div>
</div>
{% endblock %}
