<div id="filter_calendar_viewer" class="container mt-4">
  <div class="d-flex  flex-wrap mb-3">
  <!-- Left Column: Date Picker -->
  <form id="filter" class="p-2" style="max-width: 300px;"
    hx-get="{% url 'home_calendar_partial' %}"
    hx-trigger="change from:#filter"
    hx-target="#filter_calendar_viewer"
    hx-swap="outerHTML">
    {{ ApptClndrForm.as_p }}
  </form>

  <!-- Middle Column: Calendar Results -->
  <div class="p-2">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
              <th style="width:150px">Time</th>
              <th style="width:150px">Status</th>
              <th style="width:170px">Patient</th>
              <th style="width:170px">Provider</th>
              <th style="width:200px">Notes</th>
          </tr>
      </thead>
      <tbody>
        {% if not appt_list %}
          <tr><td>No appointments scheduled</td></tr>
        {% else %}
          {% for appt in appt_list %}
          <!--ok this could just morph on body instead of all this dbl click shit-->
            <tr style="cursor: pointer;"
                hx-target="#apptDetails"
                hx-get="{% url 'home_calendar_peek' appt.id %}"
                hx-ext="click-or-dblclick" dblclick-url="{% url 'AppointmentEncounter_overview' appt.patient_id 0 %}" dblclick-target="body" dblclick-push-url="false"
                hx-trigger="click delay:0.3s, dblclick"
                hx-swap="morph"
                >
              <td>{{ appt.start }} - {{ appt.end }}</td>
              <td>{{ appt.status }}</td>
              <td>{{ appt.patient }}</td>
              <td>{{ appt.provider }}</td>
              <td>{{ appt.notes }}</td>
            </tr>
          {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </div>

  <div id="apptDetails" class="p-2 small" style="max-width: 200px;">
    <p>Click appointment once to peek, double click for patient chart.</p>
    <p>If no appointments are scheduled, try changing filters.</p>
    <p>If you don't see your name in dropdown, try changing location.</p>
  </div>

</div>
