{% extends "Encounters_edit.html" %}

{% block formname %}
    New Encounter
{% endblock %}

{% block buttons %}
    <button class="btn btn-sm btn-primary m-1"
        hx-post="{% url 'Encounters_new' patient_id=patient.id %}"
        hx-include="#encounter-info"
        hx-target="body">
        Save
    </button>
    <button class="btn btn-sm btn-danger m-1"
        hx-get="{% url 'Encounters_table' patient_id=patient.id %}"
        hx-target="body">
        Cancel
    </button>
{% endblock %}