<tr>
    <td>notes:
        {% for note in allergy.notes.all %}
            <p>{{ note.text }}</p>
        {% endfor %}
    </td>
    {% for reaction in allergy.reactions.all %}
    <td>
        <table>
            <tr>
                <td>Description:</td>
                <td>{{ reaction.description }}</td>
            </tr>
            <tr>
                <td>Onset:</td>
                <td>{{ reaction.onset }}</td>
            </tr>
            <tr>
                <td>Severity:</td>
                <td>{{ reaction.severity }}</td>
            </tr>
            <tr>
                <td>Substance:</td>
                {% for substance in reaction.substance_cc.all %}
                    <td>{{ substance }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Exposure Route:</td>
                {% for exposureRoute in reaction.exposureRoute_cc.all %}
                    <td>{{ exposureRoute }}</td>
                {% endfor %}
            </tr>
        </table>    
    </td>
    <td>
        <table>
        {% for manifestation in reaction.manifestations.all %}
            <td>
                manifestation:
                {% for m in manifestation.manifestation_cc.all %}
                    {{m.display}}
                {% empty %}
                    N/A
                {% endfor %}
            </td>
        {% endfor %}
        </table>
    </td>
    <td>
        <table>
        {% for rnote in reaction.reaction_notes.all %}
            <td>note: {{rnote.text}}</td>
        {% endfor %}
        </table>
    </td>
    {% endfor %}
</tr>