<h1>Allergies</h1>

{% if allergy_list.count > 0 %}
<table id="allergy_list">
    <tr>
        <th>Code</th>
        <th>Clinical Status</th>
        <th>Verification Status</th>
        <th>Category</th>
        <th>Type</th>
        <th>Criticality</th>
        <th>Onset</th>
        <th>Recorded</th>
        <th>Last Occurrence</th>
    </tr>
    {% for allergy in allergy_list %}
        {% include "allergy_listItem.html" %}
    {% endfor %}
</table>
{% else %}
<p>No allergies recorded yet</p>
{% endif %}

{% include "allergy_form.html" %}