<h2>Add Allergy or Intolerance for {{ patient }}</h2>

{% if errors %}
    <p>Errors: {{ errors }}</p>
{% endif %}

<form method="post">
    {% csrf_token %}
    
    {{ note_formset.management_form }}
    {{ note_formset.as_p }}
    
    <h3>Basic Information</h3>
    {{ allergy_form.as_p }}
    
    <h3>Notes</h3>
    {{ note_form.as_p }}

    <h3>Reaction Details</h3>
    {{ reaction_form.as_p }}

    <h3>Reaction Manifestations</h3>
    {{ manifestation_form.as_p }}

    <h3>Reaction Notes</h3>
    {{ reaction_note_form.as_p }}
    
    <input type="submit" value="Save">
</form>