<style>
    :root {
        --info: #db8d8d;
        --treatment: #8d8ddb;
        --vitals: #8ddb8d;
        --explorer: #db8dc4;
    }
    
    [data-bs-theme="dark"] {
        --info: #db8d8d7a;
        --treatment: #8d8ddb6c;
        --vitals: #8ddb8d75;
        --explorer: #db8dc479;
    }

    #explorer *{
        padding: 1px;
        margin: 1px;
        border: 1px solid black;
        vertical-align: top;
    }
</style>

<div class="w-100 d-flex flex-row flex-wrap">
    <div class="rounded m-2 p-2 bg-body-secondary align-self-start position-relative" style="width: 400px; border: 0px; border-left: 5px solid var(--info);">
        <div class="d-inline-block mt-2">
            <span class="rounded p-2" style="background-color: var(--info);">Patient Info</span>
        </div>
        <div class="mt-3">
        <p>{{patient}}</p>
        <p>{{patient.gender}}</p>
        <p>{{patientAgeStr}}</p>
        
        <p>contact:</p>
        {% for patient_telecom in patient.patient_telecoms.all %}
            <li>{{patient_telecom}}</li>
        {% endfor %}
        
        <p>address:</p>
        {% for patient_address in patient.patient_addresses.all %}
            <li>{{patient_address}}</li>
        {% endfor %}
        </div>
    </div>

    <div class="rounded w-25 m-2 p-2 bg-body-secondary align-self-start" style="border: 0px; border-left: 5px solid var(--treatment);">
        <div class="d-inline-block mt-2">
            <span class="rounded p-2" style="background-color: var(--treatment);">Treatment Team</span>
        </div>
        <div class="mt-3">
            <p>text</p>
        </div>
    </div>

        
    <div class="rounded m-2 p-2 bg-body-secondary align-self-start" style="width: 400px; border: 0px; border-left: 5px solid var(--vitals);">
        <div class="d-inline-block mt-2">
            <span class="rounded p-2" style="background-color: var(--vitals);">Vital Signs</span>
        </div>
        <div class="mt-3">
            <table class="">
                {% for vital_name, vital in recent_vitals.items %}
                    {% with vital_model=vital.observation %}
                        <tr>
                            <td>
                                <p>{{vital_name}}</p>
                            </td>
                            <td>
                                <span class="p-1 rounded {{vital.warning_level}}">
                                    {{vital_model.get_value_float|floatformat:2}} {{vital_model.value_Quantity.unit}}
                                </span>
                            </td>
                            <td>
                                <p>{{vital_model.get_effective_datetime|date:"Y-m-d"}}<br>
                                {{vital_model.get_effective_datetime|date:"H:i"}}</p>
                            </td>
                        </tr>
                    {% endwith %}
                {% endfor %}
                <tr>
                    <td>
                        <p>blood pressure</p>
                    </td>
                    <td>
                        <span class="p-1 rounded {{recent_blood_pressure.warning_level}}">
                            {{recent_blood_pressure.formatted_bp}}
                        </span>
                    </td>
                    <td>
                        <p>{{recent_blood_pressure.observation.get_effective_datetime|date:"Y-m-d"}}<br>
                            {{recent_blood_pressure.observation.get_effective_datetime|date:"H:i"}}</p>
                    </td>
                </tr>
            </table>
        </div>
    </div> 
    
    <div class="rounded w-100 m-2 p-2 bg-body-secondary align-self-start" style="border: 0px; border-left: 5px solid var(--explorer);">
        <div class="d-inline-block mt-2">
            <span class="rounded p-2" style="background-color: var(--explorer);">Patient Explorer</span>
        </div>
        <div id="explorer" class="mt-3" hx-push-url="false" hx-swap="outerHTML">
            {% include 'PatientOverview_explorerRow.html' %}            
        </div>
    </div> 
</div>
